.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 700px;
    background-color: #131415;
    padding-bottom: 100px;
}

.login h1 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.login-wrapper ::placeholder {
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subtitle {
    color: gray;
    font-size: 14px;
}

.login-wrapper input {
    outline: none;
    background-color: #161719;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 24px;
    border-radius: 20px;
    border: none;
    width: 260px;
}

.signup-text {
    color: gray;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}

.signup-text:hover {
    color: white;
}

label span {
    color: gray;
}

.btn-login {
    cursor: pointer;
    padding: 12px 24px;
    background-color: transparent;
    display: flex;
    color: #2884ff;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border: 1px solid #2884ff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    transition: .2s ease-in-out;
}


.btn-login:hover {
    background-color: #2884ff;
    color: black;
}

.logomain {
    height: 140px;
}

.login-image-container svg {
    height: 400px;
}

.login-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131415;
    height: 700px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}