.signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 700px;
  background-color: #131415;
}

.signup h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.signup-image {
  height: 700px;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #131415;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signup-image svg {
  height: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup input {
  outline: none;
    background-color: #161719;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 24px;
    border-radius: 20px;
    border: none;
    width: 260px;
}

a {
  text-decoration: none;
}

.login-text-info {
  color: gray;
  font-size: 16px;
  margin-left: 8px;
  transition: 0.2s ease-in-out;
}

.login-text-info:hover {
  color: white;
}

.btn-signup {
  cursor: pointer;
  padding: 12px 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  width: 260px;
  transition: .2s ease-in-out;
}

.btn-signup:hover {
  background-color: white;
  color: black;
}

.genderbox {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  margin-left: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1240px) {
  .signup-image {
      display: none;
  }
}

@media screen and (max-width: 470px) {
  .signup-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 360px) {
  .signup-wrapper {
    padding: 0px;
  }

  .signup {
    background-color: #131415;
  }
}