@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161719;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(51, 51, 51);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2884ff; 
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2884ff; 
  }