body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url(./assets/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}