.messages-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 70%;
    padding: 40px;
    gap: 10px;
    overflow: auto;
}

.welcome-text-chat {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.welcome-text-username {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    color: #2884ff;
}
