.setting-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-right: 2px solid rgba(255,255,255,0.05);
}

.setting-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 40px;
}

.setting-icons img {
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.setting-icons img:hover {
    opacity: 0.5;
}

.setting-bar-image {
    height: 70px;
    border-radius: 50%;
    border: 2px solid #2edc72;
    padding: 3px;
}